PORT=3000
NUM_WORKERS=2
DATABASE_URL=mysql://user:password@host:port/dbname
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/dbname
HASHIDS_SALT=your_hashids_salt_here
HASHIDS_MIN_LENGTH=12
JWT_SECRET=your_jwt_secret_key_here
CORS_ORIGIN=http://localhost:3001
